#footer {
  background-color: var(--background-color-3);
  padding: 2rem 0;

  .footer {
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: column;
    color: var(--font-color-2);

    p {
      padding-bottom: 2rem;
    }
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin: auto;

    .info {
      display: flex;
      flex-direction: column;
    }
    .links {
      display: flex;
      flex-direction: column;
    }
    a {
      text-decoration: none;
      color: var(--font-color-2);
    }
  }
}
@media (min-width: 480px) and (max-width: 1024px) {
  #footer {
    .footer {
      width: 90%;

      .footer-container {
        width: 90%;
        justify-content: space-between;
        gap: 2rem;
      }
    }
  }
}
