#classes {
  position: relative;
  .bg-shape {
    position: absolute;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 68%;
    clip-path: polygon(100% 0%, 100% 0, 100% 100%, 25% 100%, 0 0);
    background: #f6f6f6;
  }

  .classes-container {
    width: 65%;
    padding: 2rem;

    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        color: var(--font-color-1);
        font-weight: 800;
        padding-top: 3rem;
        font-size: 1.8rem;
      }
      p {
        text-align: center;
        margin: 2.5rem 0;
        font-weight: 500;
      }
    }

    .tab-box {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 1rem;
      width: 90%;
      margin-bottom: 3rem;

      .tab-button {
        position: relative;

        &:before {
          position: absolute;
          content: "";
          height: 1rem;
          width: 1rem;
          background: var(--background-color-3);
          bottom: -0.3rem;
          left: 50%;
          transform: translateX(-50%) rotate(45deg);
          opacity: 0;
          pointer-events: none;
        }

        &.active:before {
          opacity: 1;
          pointer-events: auto;
          background-color: var(--background-color-4);
        }

        &.active {
          background-color: var(--background-color-4);
        }
      }
    }

    .content-box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: auto auto;
      gap: 3rem;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: none;

        h4 {
          font-size: 1.3rem;
          color: var(--font-color-3);
          opacity: 0.8;
          margin-bottom: 1rem;
        }
        p {
          margin-bottom: 2rem;
        }
      }

      .content.active {
        display: block;
      }

      .content-image {
        display: none;
        img {
          max-width: 80%;
          height: auto;
        }
      }
      .content-image.active {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
@media (min-width: 480px) and (max-width: 1024px) {
  #classes .classes-container {
    width: 95% !important;

    .header {
      p {
        font-weight: 600 !important;
      }
    }
    .tab-box {
      flex-wrap: wrap;

      .btn {
        padding: 1rem 2rem;
        font-size: 1.2rem;
      }
    }

    .content-box {
      flex-direction: column;
      h4 {
        font-size: 2.1rem !important;
        opacity: 0.7 !important;
      }
      p {
        font-weight: 600;
        font-size: 1.2rem !important;
        opacity: 0.7 !important;
      }

      .content-image {
        img {
          min-width: 100%;
        }
      }
    }
  }
}
