#review {
  background-color: var(--background-color-2);
  padding: 3rem 0;
  .review-container {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        color: var(--font-color-1);
        font-weight: 800;
        font-size: 1.8rem;
      }
      p {
        text-align: center;
        margin: 2.5rem 0;
        font-weight: 500;
      }
    }

    .client-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 5rem;
      padding-top: 2rem;
      padding-bottom: 2rem;

      .client-review {
        .client {
          display: flex;
          gap: 0.5rem;
          padding-bottom: 1rem;

          img {
            border-radius: 50%;
            width: 60px;
          }
          p {
            span {
              font-weight: 800;
            }
          }
        }
        .comment {
          position: relative;
          border-radius: 0.2rem 0.2rem 0 0;
          background-color: var(--background-color-3);

          &:after {
            position: absolute;
            content: "";
            clip-path: polygon(100% 0, 1% 0, 100% 100%);
            background-color: var(--background-color-3);
            opacity: 0.7;
            width: 2rem;
            height: 2rem;
            top: 100%;
            left: 0;
          }
          &:before {
            position: absolute;
            content: "";
            clip-path: polygon(0 0, 0 100%, 100% 0);
            background-color: var(--background-color-3);
            opacity: 0.7;
            width: 2rem;
            height: 2rem;
            top: 100%;
            right: 0;
          }

          p {
            color: var(--font-color-2);
            font-size: 0.9rem;
            font-weight: 500;
            padding: 1rem;
          }
        }
      }
    }
  }
}
@media (min-width: 480px) and (max-width: 1024px) {
  #review {
    .header {
      p {
        font-weight: 600 !important;
      }
    }

    .client-container {
      flex-wrap: wrap;
      padding: 0 !important;
    }
  }
}
